.career__title {
    font-family: 'Jost', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1.7px;
    color: #CDA274;
}