.about__block {
    max-width: 356px;
    background-color: #ffff;
    border-radius: 70px
}

.about__block:hover {
    transition: .2s ease-in-out;
    transform: translateY(-20px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}