.about__block {
    max-width: 356px;
    background-color: #ffff;
    border-radius: 70px;
    transition: all .2s ease-in-out;
}

.about__block:hover {
    transform: translateY(-20px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}