@import url('../vendor/normalize.css');
@import url('../vendor/reset.css');
@import url('../blocks/page/page.css');

/* header */

@import url('../blocks/header/__inner/header__inner.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/header/__logo-img/header__logo-img.css');
@import url('../blocks/header/__logo-img/header__logo-img.css');
@import url('../blocks/header/__logo-text/header__logo-text.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/header/__button/header__button.css');

/* interior */

@import url('../blocks/interior/__button/interior__button.css');
@import url('../blocks/interior/__container/interior__container.css');
@import url('../blocks/interior/__subtitle/interior__subtitle.css');
@import url('../blocks/interior/__title/interior__title.css');
@import url('../blocks/interior/interior.css');

/* info */

@import url('../blocks/info/__design/info__design.css');
@import url('../blocks/info/__flooring/info__flooring.css');
@import url('../blocks/info/__furniture/info__furniture.css');
@import url('../blocks/info/__link-row/info__link-row.css');
@import url('../blocks/info/__link/info__link.css');
@import url('../blocks/info/__text/info__text.css');
@import url('../blocks/info/__title/info__title.css');
@import url('../blocks/info/info.css');

/* estimate */

@import url('../blocks/estimate/__button/estimate__button.css');
@import url('../blocks/estimate/__call-img/estimate__call-img.css');
@import url('../blocks/estimate/__call-text/estimate__call-text.css');
@import url('../blocks/estimate/__container-call/estimate__container-call.css');
@import url('../blocks/estimate/__image/estimate__image.css');
@import url('../blocks/estimate/__number-info/estimate__number-info.css');
@import url('../blocks/estimate/__number/estimate__number.css');
@import url('../blocks/estimate/__text/estimate__text.css');
@import url('../blocks/estimate/__title/estimate__title.css');
@import url('../blocks/estimate/estimate.css');

/* about */

@import url('../blocks/about/__block-upper/about__block-upper.css');
@import url('../blocks/about/__block/about__block.css');
@import url('../blocks/about/__container/about__container.css');
@import url('../blocks/about/__description/about__description.css');
@import url('../blocks/about/__image/about__image.css');
@import url('../blocks/about/__text-subtitle/about__text-subtitle.css');
@import url('../blocks/about/__text-title/about__text-title.css');
@import url('../blocks/about/__title/about__title.css');
@import url('../blocks/about/about.css');

/* partner */

@import url('../blocks/partner/__image/partner__image.css');
@import url('../blocks/partner/partner.css');

/* project */

@import url('../blocks/project/__block-subtitle/project__block-subtitle.css');
@import url('../blocks/project/__block-title/project__block-title.css');
@import url('../blocks/project/__container/project__container.css');
@import url('../blocks/project/__image/project__image.css');
@import url('../blocks/project/__subtitle/project__subtitle.css');
@import url('../blocks/project/__title/project__title.css');
@import url('../blocks/project/project.css');

/* career */

@import url('../blocks/career/__block/career__block.css');
@import url('../blocks/career/__subtitle/career__subtitle.css');
@import url('../blocks/career/__title/career__title.css');
@import url('../blocks/career/career.css');

/* footer */

@import url('../blocks/footer/__address/footer__address.css');
@import url('../blocks/footer/__contact/footer__contact.css');
@import url('../blocks/footer/__image/footer__image.css');
@import url('../blocks/footer/__images/footer__images.css');
@import url('../blocks/footer/__info/footer__info.css');
@import url('../blocks/footer/__link/footer__link.css');
@import url('../blocks/footer/__links/footer__links.css');
@import url('../blocks/footer/__phone/footer__phone.css');
@import url('../blocks/footer/__subtitle/footer__subtitle.css');
@import url('../blocks/footer/__title/footer__title.css');
@import url('../blocks/footer/footer.css');