.info__text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
    margin-top: 17px;
    max-width: 297px;
}