.header__inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 34px;
}

@media screen and (min-width: 1280px) {
    .header__inner {
        padding: 34px 50px;
    }
}

@media screen and (max-width: 1280px) {
    .header__inner {
        padding: 34px 50px;
    }
}

@media screen and (max-width: 700px) {
    .header__inner {
        padding: 34px 30px;
    }
}