.estimate__button {
    width: 263px;
    height: 71px;
    background-color: #292F36;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Jost', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-top: 50px;
    border-radius: 10px;
}

@media screen and (max-width: 1020px) {
    .estimate__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px auto 0;
    }
}