.estimate__number {
    font-family: 'Jost', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.22px;
    color: #4D5053;
}