.footer__subtitle {
    margin-top: 15px;
    font-family: 'Jost', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.16px;
    color: #4D5053;
    max-width: 326px;
}

@media screen and (max-width: 620px) {
    .footer__subtitle {
        font-size: 18px;
    }
}