.project__subtitle {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 786px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
}

@media screen and (max-width: 390px) {
    .project__subtitle {
        font-size: 18px;
    }
}