.footer__title {
    font-family: 'Jost', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.22px;
    color: #292F36;
}

@media screen and (max-width: 620px) {
    .footer__title {
        font-size: 20px;
    }
}