.estimate__image {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1020px) {
    .estimate__image {
        margin: 42px auto 0;
    }
}

@media screen and (max-width: 1009px) {
    .estimate__image {
        width: 450px;
        height: 500px;
    }
}

@media screen and (max-width: 470px) {
    .estimate__image {
        width: 100%;
        height: auto;
    }
}