.info__title {
    font-family: 'Jost', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 156%;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
}