.project__title {
    margin: 0 auto;
    font-family: 'Jost', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 133%;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
}

@media screen and (max-width: 390px) {
    .project__title {
        font-size: 35px;
    }
}