.info {
    display: grid;
    margin: 100px auto 200px;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

@media screen and (max-width: 1000px) {
    .info {
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 700px) {
    .info {
        max-width: 500px;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 80px;
    }
}