.career__subtitle {
    font-family: 'Jost', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
    margin-top: 10px;
}