.interior__container {
    max-width: 595px;
    margin-left: 120px;
}

@media screen and (min-width: 1280px) {
    .interior__container {
        margin-left: 110px;
    }
}

@media screen and (max-width: 1280px) {
    .interior__container {
        margin-left: 110px;
    }
}

@media screen and (max-width: 700px) {
    .interior__container {
        max-width: 490px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 475px) {
    .interior__container {
        max-width: 340px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 350px) {
    .interior__container {
        max-width: 280px;
    }
}